#{extends 'main.html' /} 
#{set title:'Edit Details' /} 
#{set activePage:'edit' /} 
#{include 'nav.html' /}

<section class="ui form segment">
	<form action="/tweeters/changeDetails" method="POST">
		<div class="two fields">
			<div class="field">
				<label>First Name</label> <input placeholder="${tweeter.firstName}" type="text" name="firstName">
			</div>
			<div class="field">
				<label>Last Name</label> <input placeholder="${tweeter.lastName}"	type="text" name="lastName">
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Email</label> <input placeholder="${tweeter.email}" type="text" name="email">
			</div>
			<div class="field">
				<label>Password</label> <input type="password" name="password" placeholder="Password">
			</div>
		</div>
		<button class="ui blue submit button">Submit</button>
	</form>
</section>
