#{extends 'main.html' /} 
#{set title:'View Tweeters' /} 
#{set activePage:'tweeters' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
	<div class="ui grid">
		<article class="ui five wide column">
		
			<div class="ui hidden divider"></div>
			<div class="ui basic segment">
			  <h2 class="ui header">All Tweeters</h2>
				  <div class="ui list">
				  	#{list items: tweeters, as:'tweeter'}
					  <div class="item">
					  	<div class="user">
						  	<span title="Click to Follow"><a href="/tweeters/addfollow/${tweeter.id}"><i class="add user icon"></i></a></span>
						  	${tweeter.firstName} ${tweeter.lastName}
					  	</div>
				  	#{/list}
				   	</div>
				  </div>
			  </div>
	  </article>
	  
	  <article class="ui five wide column pull-right">
		  <div class="ui hidden divider"></div>
		  <div class="ui basic segment pull-right">
			  <h2 class="ui header">Currently Following</h2>
	  		<div class="ui list">
			  	#{list items:followings, as:'following'}
		 		  <div class="item">
					  <div class="content">
					  	<span title="Click to stop Following"><a href="/tweeters/drop/${following.followee.id}"><i class=" remove user icon"></i></a></span>  
			  			<a href="/tweets/tweetersTweets/${following.followee.id}"> 
				  		${following.followee.firstName} ${following.followee.lastName}</a>
					  </div>
				  </div>
				  #{/list}
			  </div>
		  </div>
	  </article>
	</div>
</section>