#{extends 'main.html' /} 
#{set title:'TimeLine' /}
#{set activePage:'TimeLine' /}
#{include 'nav.html' /}

<section class="ui raised segment">
	<div class="fluid ui grid">
		<article class="12 wide column">
		<h1>Profile page for ${tweeter.firstName} </h1>
			<div class="ui row">
				<div class="ui hidden divider"></div>
					<a href="/Tweets/index"><input class="ui left floated blue button" type="submit" name="submit"
						value="Click to show All Tweets" />
					</a> <a href="/Tweets/myTweets"><input class="ui right floated blue button pull-right" type="submit" name="submit"
						value="Click to show just My Tweets" /></a>
				<div class="ui hidden divider"></div>
			</div>
			<div class="ui row">
				<br>
				<div class="ui feed">
					#{list items: tweets, as:'tweet'}
					<div class="event">
						<div class="content">
							<div class="summary">
								<a href="/tweets/tweetersTweets/${tweet.tweeter.id}" class="user">
									${tweet.tweeter.firstName} ${tweet.tweeter.lastName}</a>
							</div>
							<div class="extra text">${tweet.tweetText}</div>
						</div>
					</div>
					#{/list}
				</div>
			</div>
		</article>

	</div>
</section>