body {
  margin: 5% 5% 5% 10%;
  font-family:  Verdana, sans-serif;
  width: 80%;
  background: silver;
}

.sticky {
  width: 80%;
  margin-top: 1%;
  margin-bottom: 5%;
}

#nav {
  height: 35px;
  padding: .5%;
  font-family:  Verdana, sans-serif;
  font-size: 1em
}

#all {
  background: black;
}

#indexPage {
 padding: 15%;
}

#h1 {
  font-family: "Arial", cursive, sans-serif;
  padding: .1%;
  font-size: 3em;
}

#h3 {
  font-family: "Arial", cursive, sans-serif;
  padding: .1%;
  font-size: 2em;
}