#{extends 'main.html' /}

<div class="ui rail">
	<div class="ui fixed top sticky">
		<nav class="ui purple inverted menu">
		#{if tweeter == null} 
			<header class="header item">
				<a href="/">  MyTweet
				</a>
			</header>
			<div class="left menu">
				#{if activePage == 'signup'} <a class="ui active item" href="/signup">Signup</a>#{/if}
				 #{else} <a class="item" href="/signup"> Signup</a> #{/else} #{if activePage == 'login'} <a class="ui active item" href="/login">Log In</a> #{/if} #{else} <a class="ui item"href="/login">Log In</a> #{/else}#{/if} 
				
				#{if tweeter != null} 
				<header class="header item">
				 MyTweet
		
			</header>
				#{if activePage == 'tweetList'} 
        <a class="ui active item" href="/tweets/index">Timeline</a> 
        #{/if} #{else} 
        <a class="ui item" href="/tweets/index">Timeline</a> 
        #{/else}
        #{if activePage == 'tweeters'} 
        <a class="ui active item" href="/tweeters/index">Tweeters</a> 
        #{/if} #{else} 
        <a class="ui item" href="/tweeters/index">Tweeters</a> 
        #{/else}
        #{if activePage == 'tweet'} 
				<a class="ui active item" href="/tweets/tweet">Send Tweet</a> 
				#{/if} #{else} 
        <a class="ui item" href="/tweets/tweet"> Send Tweet</a> 
        #{/else}  
         #{if activePage == 'edit'} 
        <a class="ui active item pull right" href="/tweeters/edit">Edit Details</a> 
        #{/if} #{else}  
        <a class="ui item pull right" href="/tweeters/edit">Edit Details</a> 
        #{/else} 
        <a class="ui item pull right" href="/logout">Log Out</a> 
				#{/if}
			</div>
		</nav>
	</div>
</div>