#{extends 'main.html' /} 
#{set title:'Welcome to MyTweet Service' /} 
#{set activePage:'welcome' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
	<div class="ui grid">
		
			<article class="12 wide column" id="indexPage">
			
				<header class="ui header">
					<h1>Welcome to My Tweet Service</h1>
				</header>
				<h1><a href="/login">Log In</a> or<a href="/signup"> Sign Up</a></h1>
			
			</article>
	</div>
</section>