#{extends 'main.html' /}
#{set title:'Login' /}
#{set activePage:'login' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui 12 wide column fluid form">
      <div class="ui stacked segment">
        <form action="/authenticate" method="POST">
          <h3 class="ui header">Enter your email and password below to Log In</h3>
          <div class="field">
            <label>Email</label> <input placeholder="Email" type="text" name="email" >
          </div>
          <div class="field">
            <label>Password</label> <input placeholder="Password" type="password"name="password">
          </div>
          <button class="ui blue submit button">Login</button>
        </form>
      </div>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</section>