#{extends 'main.html' /}
#{set title:'Signup' /}
#{set activePage:'signup' /} 
#{include 'nav.html' /}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui 12 wide column">
      <div class="ui stacked fluid form segment">
          <form action="/register" method="POST">
            <h3 class="ui header">Please Enter Your Details</h3>
            <div class="two fields">
              <div class="field">
                <label>First Name:-</label>
                <input placeholder="Enter Your First Name" type="text" name="tweeter.firstName">
              </div>
              <div class="field">
                <label>Last Name:-</label>
                <input placeholder="Enter Your Surname" type="text" name="tweeter.lastName">
              </div>
            </div>
        <div class="two fields">
            <div class="field">
              <label>Email:-</label>
              <input placeholder="Enter your Email" type="text" name="tweeter.email">
            </div>
            <div class="field">
              <label>Password:-</label>
              <input type="password" name="tweeter.password">
            </div>
        </div>
            <button class="ui blue submit button">Submit</button>
          </form>
        </div>  
      </div>
    </div>  
</section> 